*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: small;
    color: black;
}
body{
    font-size: 100%;
}
header{
    height: 9vh;
    background-color: rgb(117, 180, 199);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img{
    max-width: 70%;
    max-height: 70%;
    margin-left: 3vw;
}
main{
    height: 80.9vh;
}
section{
    height: 100%;
}
div.page.is-active{
    height: 100%;

}
.cont{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.input-c{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 75%;
}
.titoli{
    margin-top: 5%;
    height: 15%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content.page-3{
    justify-content: flex-start;
    
}
.invio{
    display: flex;
    width: 75%;
    justify-content: flex-end;
    justify-items: center;
}
#submit-but{
    background-color: #4A40BF;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 200%;
    color: white;
}
#accedi{
    background-color: #4A40BF;
    border: none;
    border-radius: 5px;
    padding: 4% 5% 4% 5%;
    color: white;
    text-decoration: none;
}
.content{
    background-color: rgba(117, 180, 199, 0.233);
    width: 95%;
    height: 98%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cimg{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100vw;
    border-top: 0.1vh solid rgba(207, 200, 200, 0.801);
}
.section-1{
    display: flex;
    width: 100%;
    height: 100%;

}



.item-nav.tab.is-active a div p{
    -webkit-transition: -webkit-transform .1s ease-in-out;
    -ms-transition: -ms-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transform: scale(1.1) perspective(1px);
    color: #4A40BF;
}
.item-nav.tab.is-active a div img{
    -webkit-transition: -webkit-transform .1s ease-in-out;
    -ms-transition: -ms-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transform: scale(1.3) perspective(1px);
    filter: invert(31%) sepia(37%) saturate(2498%) hue-rotate(223deg) brightness(83%) contrast(106%);
}
.item-nav.tab.plus-button a div img{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    -ms-transition: -ms-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}
.middle-box{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.middle-box div img{
    width: 50px;
}

.item-nav{
    height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#name{

    border: none;
    height: 15%;
    width: 60%;
    border-radius: 10px;

}
.spazio-s{
    height: 5%;
}
.spazio-m{
    height: 10%;
}
.spazio{
    height: 15%;
}
#somma_debito{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #eff1f2;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: blue;
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: #416fa3a2;
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #416fa3a2;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: #416fa3a2;
}

#somma_debito:focus{
    border: 2px solid #4A40BF;
    background-color: rgba(3, 133, 224, 0.12);
    outline: none !important;
}
#data_debito:focus{
    border: 2px solid #4A40BF;
    background-color: rgba(3, 133, 224, 0.12);
    outline: none !important;
}
#nome_debitore:focus{
    border: 2px solid #4A40BF;
    background-color: rgba(3, 133, 224, 0.12);
    outline: none !important;
}
#nome_debitore{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #eff1f2;
    border: 2px solid #9e9e9e;  
    border-radius: 5px;
}
#nome_utente:focus{
    border: 2px solid #4A40BF;
    background-color: rgba(3, 133, 224, 0.12);
    outline: none !important;
}
#nome_utente{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #eff1f2;
    border: 2px solid #9e9e9e;  
    border-radius: 5px;
}
#password:focus{
    border: 2px solid #4A40BF;
    background-color: rgba(3, 133, 224, 0.12);
    outline: none !important;
}
#password{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #eff1f2;
    border: 2px solid #9e9e9e;  
    border-radius: 5px;
}
#data_debito{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #eff1f2;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
}
.debito-form{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
form{
    height: 100%;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-nav div img{
width: 20px;
}
.item-nav.space{
    height: 100%;
    flex-grow: 1;
}

.bottom-nav{
    display: flex;
    height: 70%;
    width: 95vw;
    background-color: rgba(117, 180, 199, 0.233);
    border-radius: 15px;
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}
.audiv a {
    background-color: #4A40BF;
    color: white;
    font-size: 1.5em;
    padding: 5% 3% 5% 3%;
    border-radius: 10px;
    text-decoration: none;

}
.audiv{
    height: 20%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
































