*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --asp-rat:100%;
}
html {
    scroll-behavior: smooth;
  }
.top-menu{
    height: 90px;
    top: 0%;
    width: 100%;
    display: flex;
    position: absolute;
}
.list{
    list-style: none;
}
.list img{
    width: 250px;
    padding-left: 50px;
fill: yellowgreen;
}
.top-cont{
    display: flex;
    color: white;
    justify-content: center;
    background: url(https://www.wallpapertip.com/wmimgs/21-217483_hd-black-and-orange-wallpapers-9-wide-wallpaper.jpg);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-position: bottom;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
;
}
.top-box{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.top-box a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
    border-radius: 5px;
    background-color: orange;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 40%;
    margin-right: 40%;
}
.top-box h1{
    font-size: 5em;
    margin-top: 20%;
    margin-bottom: 2%;
}
.top-box p{
    position: relative;
    bottom: -40%;
    font-weight: 600;
}
.top-cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.top-cont3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
#pwa-alert {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform-origin: left;
  }
  
  #pwa-alert > div {
    border: 1px solid black;
    position: relative;
    left: -50%;
  
    background-color: white;  
  
    border-radius: 5px;
  
    padding: 15px;
  
    width: fit-content;
  
    text-align: center;
  }
  
  #pwa-alert > div > h1 {
    font-size: 25px;
    font-weight: bold;
  }
  
  #pwa-alert > div > h3 {
    font-size: 15px;
    opacity: 0.8;
  }
  
  #pwa-alert > div > div {
    margin-top: 20px;
  }
  
  #pwa-alert > div > div > button {
    margin: 0 5px;
  }

.top-box2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}
.top-box3{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: left;
    justify-content: center;
    width: 70%;
}

.linea{
    background-color:orange;
    height: 5px;
    width: 70px;
    margin-bottom: 2%;
}
.titolotc2{
    margin-top: 5%;
    margin-bottom: 1%;
}
.titolotc2 h2{
    font-size: 2em;
}
.titolotc3{
    margin-bottom: 1%;
}
.titolotc3 h2{
    font-size: 2em;
}
.top-box2 p{
    font-size: 1.2em;
}
.p1{
    margin-bottom:0.5%;
}
.p2{
    margin-bottom: 4%;
}
.p3{
    margin-bottom: 10%;
}
.fas{
    color: orange;
    font-size: 50px;
    margin-bottom: 8%;
}
.item{
    width: 50%;
    display: flex;
}
.textitem{
    width: 65%;
}
.textitem a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 700;
}
.textitem i{
    color: orange;
    font-size: 16px;
    margin-left: 5%;
}
.imgcont img{
    width: 100%;
}
.iconitem{
    width: 35%;
    display: flex;
    justify-content: center;
}
.item p{
    line-height: 30px;
}
.item h3{
    font-size: 1.5em;
    margin-bottom: 2%;
}
.item :last-child{
    margin-bottom: 10%;
}

.linea2{
    background-color:orange;
    height: 5px;
    margin-top: 1%;
    width: 70px;
    margin-bottom: 5%;
}
.item3{
    width: 25%;
}
.cont-asp-rat img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cont-asp-rat{
    position: relative;
    padding-top: var(--asp-rat);
}


.bottom-cont2{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.bottom-box3{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.box-item3{
    display: flex;
    flex-direction: column;
}
.box3-item h2{
    margin-bottom: 8%;
    font-size: 3em;

}
.box3-item p{
    color: black;
}
.box3-item2{
    background-color: black;
    color: white;
    padding: 5%;
}
.product-column{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    align-content: center;
}
.product-column p{
    color: white;
    margin-top: 60%;
}
.foot-item img{
    width: 30%;
}
.space{
    height: 20px;
}
.foot{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: black;
    height: 100px;
}
.foot-box{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}
.foot-item{
    color: white;
    width: 15%;
}
.foot-item i{
    margin-right: 3%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: orange;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
      transition: margin-right .5s;
  
  padding: 16px;
  position: absolute;
  right: 2px;
}

.gallery{
    display: flex;
    width: 100%;
}
.product-column{
    background-color: black;
    width: 20%;
}
.image-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.image-column-item{
    width: 25%;
    background-color: black;
    height: 50%;
    color: white;
}
.image-column-item p{
text-align: center;    
margin-top: 50%
;}

  .image-column-item img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .image-column-item img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .image-column:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.5);
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .foot-item2{
    color: white;
    width: 15%;
}

  
@media screen and (max-width: 1100px){
    
    .foot-item2{
        width: 250px;

    }
    .foot-box{
        width: 250px;
    }
    #fimg{
        width: 200px;
    }
    .foot-box{
        justify-content: space-between;
        width: 80%;
    }
    .image-column-item{
        width: 50%;
        height: auto;
    }
    .iconitem{
    width: 20%;
    margin-right: 5%;
    }
    .image-column-item p{
        margin-bottom: 45.3%;
    }
    .gallery{
        background-color: black;
    }
}

@media screen and (max-width: 700px){

    .foot-box{
        flex-direction: column;
    }
    .foot-item2{
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .foot-item{
        width: auto;
    }
    .foot{
        height: auto;
    }
    .foot-box p{
        font-size: 1.8em;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .box3-item{
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: center;
    }
    .bottom-box3{
        flex-direction: column;
    }
    .bottom-cont2{

        padding-top: 100px;
        padding-bottom: 100px;
    }
    .box3-item2{
        margin-top: 25px;
    }
    .top-box3{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
    .top-box3 :first-child{

        margin-top: 5%;
    }
    .gallery{
        flex-direction: column;
        background-color: white;
    }
    .product-column{
        width: 100%;
        height: 100px;
    }
    .product-column p{
        color: white;
        margin-top: 45px;
        position: relative;
       
    }
    .image-column{
        flex-direction: column;
        width: 100%;
    }
    .image-column-item{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .top-box h1{
        font-size: 3em;
        margin-top: 50%;
    }
    .top-box p{
        margin-top: -15%;
    }
    .top-box a{
        width: 200px;
        font-size: 1.3em;
        margin: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;    
}

.box3-item2{
    font-size: 1.3em;
    width: 80%;
    text-align: center;
}
}
.text-gallery{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text-gallery-box{
    width: 80%;
    height: 80%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: 3s;
}

.circle{
    width: 25%;
    height: 100%;
}
.rad img{
    border-radius: 100%;
}
.btn{
    border-radius: 100%;
}
.mySlides{
    transition: 3s;
    width: 50%;
}
.mySlides i{
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-size: 2em;
}
.mySlides p{
    color: white;
}
.bottom-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
}
.bottom-title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.linea4{
    width: 20%;
    background-color: orange;
    height: 5px;
    margin-bottom: 2%;
}
.bottom-box h2{
    margin-top: 15%;
    margin-bottom: 1%;
}
.bottom-cont{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}
.bottom-cont2{
    background-color: lightslategray;
}
.bottom-box2{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.bottom-item{
    width: 30%;
    border: solid 1px lightgray;
    border-radius: 5%;
}
.bottom-item p{
    line-height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}
.bottom-item a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 700;
}
.bottom-item .fas.fa-arrow-circle-right{
    font-size: 1.2em;
    margin-left: 2%;
}
.bottom-item .fas{
    margin-top: 10%;
}

.top-cont6{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 5%;
}
.top-box6{
    width: 75%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;

}
.item3{
    width: 25%;
}

.listsocial{
    list-style: none;

}
li a{
    text-decoration: none;
    color: black;
}
.listsocial li{
    display: inline;
    margin-left: 3%;
    margin-right: 3%;
}
.c3 h2{
    margin-top: 10%;
    margin-bottom: 4%;
}
.c3 p{
    margin-bottom: 4%;
    color: orange;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #cef;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

